$color-black: #000000;

$color-white: #FFFFFF;

$color-orange: #eb6726;

$color-yellow: #f7b618;

$color-green: #009a67;

$color-red: #e0282a;

$color-lightblue: #72c8ef;

$color-blue: #293c90;

$color-gray: #f4f4f4;
