<section class="features">
	<div class="container">
		<div class="row">
			<div class="featurebox">
				<div class="col col--4-of-12 col col--push-1-of-12 col col--am">
					<p class="featurestxt">Take a break and relax while coloring amazing 3D figures of a magical world.</p>
				</div>
				<div class="col col--7-of-12 col col--am">
					<img src="img/1.png" class="img-responsive featureimage" alt="Huichol Logotype">
				</div>
				<!-- <div class="col col--3-of-12 col col--am col col--m-2-of-4 col col--s-2-of-4">
					<img src="img/2.jpeg" class="img-responsive shadow" alt="Huichol Logotype">
				</div> -->
			</div>
	</div>
	<div class="row">
		<div class="featurebox">
			<div class="col col--7-of-12 col col--push-1-of-12 col col--am">
				<p class="featurestxt displaymiddle">Share your creations as video and amaze your friends.</p>
				<img src="img/2.png" class="img-responsive featureimage" alt="Huichol Logotype">
			</div>
			<!-- <div class="col col--3-of-12 col col--am col col--m-2-of-4 col col--s-2-of-4">
				<img src="img/4.jpeg" class="img-responsive shadow" alt="Huichol Logotype">
			</div> -->
			<div class="col col--3-of-12 col col--am">
				<p class="featurestxt hidemiddle">Share your creations as video and amaze your friends.</p>
			</div>
		</div>
		<div class="space hidephone"></div>
</div>
</section>
