<section class="mainsection">
	<div class="container">
		<div class="row">
			<div class="col col--4-of-12 col col--push-1-of-12 col col--m-2-of-4">
				<img src="img/logo.svg" class="logo" alt="Huichol Logo">
				<img src="img/logotype.svg" class="logotype" alt="Huichol Logotype">
				<h1>Coloring in 3D</h1>
				<div class="widthcontrol">
					<p>Huichol is a 3D coloring book inspired in the beautiful world of Huichol handicraft.</p>
				</div>
				<p class="hidephone">Get it for your iPhone or iPad.</p>
				<a href="https://itunes.apple.com/us/app/huichol-3d-coloring-book/id1279056885?mt=8" style="display:block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:180px;height:53px;background-size:contain; margin-top:19px;" class="centerbtn hidephone"></a>
			</div>
			<div class="col col--5-of-12 col col--push-1-of-12 col col--m-2-of-4">
				<img src="img/main_image.png" class="img-responsive mainimage hidephone" alt="Huichol App">
				<img src="img/main_image_phone.png" class="img-responsive phoneimage hidedisplay" alt="Huichol App">
				<p class="hidedisplay">Get it for your iPhone or iPad.</p>
				<a href="https://itunes.apple.com/us/app/huichol-3d-coloring-book/id1279056885?mt=8" style="display:block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg) no-repeat;width:180px;height:53px;background-size:contain; margin-top:19px;margin-bottom:40px;" class="centerbtn hidedisplay"></a>

			</div>
		</div>
	</div>
</section>
